<html>
 <head> 
 	<meta name="viewport" content="width=600">
 	 <link rel="stylesheet" type="text/css" href="/static/css/application.584abf04.css"> 
 	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css">
 	  <script async src="https://www.googletagmanager.com/gtag/js">
 	  	
 	  </script> 
 	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
 	  	
 	  </script> 
 	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
 	  	
 	  </script>
 	   <title>Upload</title> 
 	</head> <body> 
<body>
 <nav class="navbar navbar-default">
 		 <div class="container-fluid"> <div class="navbar-header"> <a class="navbar-brand" href="#" style="font:"Helvetica Neue",Helvetica,Arial,sans-serif"> Upload an image to detect objects </a> 
 		 </div> </div> 	
 		  <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
 		 <input type=file name=photo> <br> <input type="submit" name=submit>
 	</div>  <script src="/static/js/application.216eb3b8.js"></script> </body> </html>
</form>
</body>
</html>