    <doctype html!>
    <html>
    <head>
    <title>Register </title>
    <link rel="stylesheet" href="style.css" />
    </head>
    <body>
    <form  method="POST" action="" enctype="multipart/form-data">
    <p22>Register: </p22> </br>
    <p>Username: <input type="text" name="name"> </p>
    <p>Password: <input type ="password" name ="password"> </p>
    <p>Email: <input type="text" name="email"> </p>
    <p>Image: <input type=file name="photo"> </p> 

    <input type="Submit" value="Submit" > </br> </br>
    <p23> Already a member? 
        <a href="login">Click to Login </a> 
    </p23>
    </form>
    </body>
    </html>

